@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    /* background-color: orange; */
}

nav img{
    position: relative;
    z-index: 10;
    width: 130px;
    
}

nav button{
    position: relative;
    z-index: 10;
}

.home{
    height: calc(100% - 100px);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Martel Sans', sans-serif;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    /* background-color: violet; */
    gap: 23px;
    position: relative;
    z-index: 10;
}
.home> :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.home> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    }

.home> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}